//Roboto Thin
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Thin.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Thin.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Thin.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Thin.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Thin.svg#Roboto-Thin) format("svg");
  font-weight: 100;
  font-style: normal;
}

//Roboto Thin (italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-ThinItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-ThinItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-ThinItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic) format("svg");
  font-weight: 100;
  font-style: italic;
}

//Roboto Light
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Light.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Light.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Light.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Light.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Light.svg#Roboto-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}

//Roboto Light (italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-LightItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-LightItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-LightItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-LightItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-LightItalic.svg#Roboto-LightItalic) format("svg");
  font-weight: 300;
  font-style: italic;
}

//Roboto Regular
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Regular.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Regular.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Regular.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Regular.svg#Roboto-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}

//Roboto Regular (Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Italic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Italic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Italic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Italic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Italic.svg#Roboto-Italic) format("svg");
  font-weight: 400;
  font-style: italic;
}

//Roboto Medium
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Medium.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Medium.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Medium.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Medium.svg#Roboto-Medium) format("svg");
  font-weight: 500;
  font-style: normal;
}

//Roboto Medium (italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-MediumItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-MediumItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-MediumItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic) format("svg");
  font-weight: 500;
  font-style: italic;
}

//Roboto Bold
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Bold.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Bold.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Bold.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Bold.svg#Roboto-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
}

//Roboto Bold (italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BoldItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BoldItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BoldItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic) format("svg");
  font-weight: 700;
  font-style: italic;
}

//Roboto Black
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Black.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Black.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Black.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Black.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-Black.svg#Roboto-Black) format("svg");
  font-weight: 900;
  font-style: normal;
}

//Roboto Black (italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BlackItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BlackItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BlackItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic) format("svg");
  font-weight: 900;
  font-style: italic;
}

//Roboto Condensed (Light)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Light.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Light.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Light.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Light.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Light.svg#RobotoCondensed-Light) format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Light, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-LightItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-LightItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-LightItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-LightItalic.svg#RobotoCondensed-BoldItalic) format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: condensed;
}

//Roboto-Condensed (Regular)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Regular.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Regular.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Regular.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Regular.svg#RobotoCondensed-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Regular, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Italic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Italic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Italic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Italic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Italic.svg#RobotoCondensed-Italic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

//Roboto-Condensed (Bold)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Bold.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Bold.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Bold.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-Bold.svg#RobotoCondensed-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Bold, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.eot?#iefix) format("embedded-opentype"),
    //url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.otf) format("opentype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.woff) format("woff"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf) format("truetype"),
  url(../../../../bandwango-laravel/public/fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic) format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
