.evlv-schedule--top{
  min-height: 150px;
  background-color: #0e283b;
  position: relative;
}
.evlv-schedule--header{
  background-color: #174868;
  padding: 8px 15px;
}
.evlv-schedule--body{
  padding: 20px 10px;
}
