.bwdash-wrapper {
  max-width: map-get($grid-breakpoints, sm);
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.bwdash-page--hero {
  background-color: rgb(14, 39, 59);
  color: #ffffff;
  > .container-fluid > .row {
    min-height: 128px;
  }
  .bwdash-page--title {
    font-size: 24px;
  }
}

.bwdash-hero--bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -30px;
  overflow: hidden;
  .bwdash-waves {
    opacity: .5;
  }
}

.bwdash-hero--bg > svg {
  /* height: auto; */
  width: 100%;
  transform: translate(0, -50%);
  position: absolute;
  /* left: 50%; */
  top: 30%;
  /* max-height: 100%; */
}

.bwdash-search--place {
  .form-control {
    background-color: #1a4768;
    border: none;
    font-size: 14px;
    border-radius: 0;
    padding: 7px 15px;
    color: #fff;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}

.bwdash-section--title {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  margin: 0;
  line-height: 1.4;
}

.bwdash-cedar--wrap {
  font-weight: 500;
  img {
    width: 110px;
  }
}
