.bwdash-dining--top {
  min-height: 150px;
  background-color: #0e283b;
  position: relative;
}

.bwdash-dining--bottom {
  font-weight: 500;
}

.bwdash-dining--card {
  padding: 30px 10px 10px;
  border-bottom: 1px solid #dfdfdf;
}

.bwdash-dining-card--header {
  position: relative;
  padding-bottom: 70%;

}

.bwdash-dining--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bwdash-dining-card--body {
  font-weight: 400;
}

.bwdash-dining-card--devider {
  padding: 5px 10px;
  background-color: #e9e9e9;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
  line-height: 1.2;
}

.bwdash-dining-card--description {
  color: #4a4a4a;
  text-align: center;
  padding: 20px 15px 13px;

  h6 {
    font-weight: 600;
  }
  a {
    color: inherit;
    display: block;
  }
}

.dining-desription--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: space-around;
  padding: 13px 0;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 6px;
  a {
    font-size: 15px;
    color: #4a4a4a;
    font-weight: 500;
    display: block;
    i {
      vertical-align: middle;
    }
  }
}

.bwdash-list--content {
  padding-bottom: 120px;
}

.dining-description--moreLink {
  margin-top: 12px;
  font-size: 15px;
  i {
    font-size: 10px;
  }
}

.bwdash-dining-card--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  color: #4a4a4a;
  background-color: #fff;
  padding: 20px 0 10px;
  img {
    width: 26%;
  }
}

.dining-box--description {
  width: 70%;
  font-size: 14px;
  h6 {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    line-height: 1.3;
  }
  a {
    border: 1px solid #dfdfdf;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    outline: 0;
  }
}

