@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "../fonts/Roboto/stylesheet";
@import "../fonts/Roboto-Condensed/stylesheet";
@import "helpers";
@import "./global";
@import "./tabs";
@import "./dashboard";
@import "./schedule";
@import "./talent";
@import "./dining";

.bwdash-listing-box--title {
  font-size: 24px;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  /* left: 50%; */
  left: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(0, -50%);
}

