.bwdash-schedule--top{
  min-height: 130px;
  background-color: #0e283b;
  position: relative;
}
.bwdash-schedule--header{
  background-color: #174868;
  padding: 3px 15px;
  .bwdash-section--title{
    font-size: 14px;
  }
}
.bwdash-schedule--body{
  padding: 20px 10px;
  font-size: 15px;
}
