.bwdash-schedule--top {
  min-height: 130px;
  background-color: #0e283b;
  position: relative;
}

.bwdash-schedule--header {
  background-color: #174868;
  padding: 3px 15px;
  .bwdash-section--title {
    font-size: 14px;
  }
}

.bwdash-list--item {
  padding: 20px 10px;
  font-size: 15px;
}

.bwdash-btn--rounded {
  background-color: $primary;
  color: #ffdd03;
  line-height: 1;
  width: 30px;
  height: 30px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  .added & {
    background-color: $success;
    color: $primary;
    &:before {
      font-family: 'icomoon';
      content: '\E900';
      font-size: 12px;
    }
  }
}
