@import 'mixins/breakpoints';
@import 'mixins/grid';
@import 'grid-framework';
@import 'flex-support';
@import 'flex-utilities';

.flex-row {
  @include make-flex-row();
}


// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .flex-col,
  > [class*="flex-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.gutters-10 {
  margin-right: 10px;
  margin-left: 10px;

  > .flex-col,
  > [class*="flex-col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.gutters-half {
  margin-right: 7.5px;
  margin-left: 7.5px;

  > .flex-col,
  > [class*="flex-col-"] {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@include make-flex-grid-columns();

