<div class="bwdash-schedule">
  <div class="bwdash-page--hero text-center">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <h2 class="bwdash-page--title text-white text-uppercase m-0">Schedule</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="bwdash-schedule--content">
    <div class="bwdash-schedule--section">
      <div class="bwdash-schedule--header">
        <h3 class="bwdash-section--title">thursday, august 2</h3>
      </div>
      <ul class="list-unstyled">
        <li class="bwdash-list--item">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <h6 class="mb-0">Registration</h6>
                  <p class="mb-0">Noon-6pm</p>
                  <p class="mb-0">NewBo City Market, GO Cedar Rapids info Center</p>
                </div>
                <div>
                  <p class="text-asphalt m-0">3-Day passholders must register here to receive appropriate credentials are rewuired at all sessions, concerts and festival venues.</p>
                </div>
              
              </div>
              <div class="col-auto align-self-center">
                <button type="button"
                        class="btn btn-sm rounded-circle bwdash-btn--plus d-flex align-items-center justify-content-center p-0 border-0">+
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-asphalt--lighter mb-0 text-right">42 Spots Remaing</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="bwdash-schedule--section">
      <div class="bwdash-schedule--header">
        <h3 class="bwdash-section--title">friday, august 3</h3>
      </div>
      <ul class="list-unstyled">
        <li class="bwdash-list--item">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <h6 class="mb-0">Registration</h6>
                  <p class="mb-0">Noon-6pm</p>
                  <p class="mb-0">NewBo City Market, GO Cedar Rapids info Center</p>
                </div>
                <div>
                  <p class="text-asphalt m-0">3-Day passholders must register here to receive appropriate credentials are rewuired at all sessions, concerts and festival venues.</p>
                </div>
              
              </div>
              <div class="col-auto align-self-center">
                <button type="button"
                        class="btn btn-sm rounded-circle bwdash-btn--plus d-flex align-items-center justify-content-center p-0 border-0">+
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-asphalt--lighter text-right mb-0">50 Spots Remaing</p>
                <hr class="text-asphalt mb-0"/>
              </div>
            </div>
          </div>
        </li>
        <li class="bwdash-list--item added">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <h6 class="mb-0">Registration</h6>
                  <p class="mb-0">Noon-6pm</p>
                  <p class="mb-0">NewBo City Market, GO Cedar Rapids info Center</p>
                </div>
                <div>
                  <p class="text-asphalt m-0">3-Day passholders must register here to receive appropriate credentials are rewuired at all sessions, concerts and festival venues.</p>
                </div>
              
              </div>
              <div class="col-auto align-self-center">
                <button type="button"
                        class="btn btn-sm rounded-circle bwdash-btn--plus d-flex align-items-center justify-content-center p-0 border-0">+
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-asphalt--lighter mb-0 text-right">11 Spots Remaing</p>
                <hr class="text-asphalt mb-0">
              </div>
            </div>
          </div>
        
        </li>
        <li class="bwdash-list--item">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <h6 class="mb-0">Registration</h6>
                  <p class="mb-0">Noon-6pm</p>
                  <p class="mb-0">NewBo City Market, GO Cedar Rapids info Center</p>
                </div>
                <div>
                  <p class="text-asphalt m-0">3-Day passholders must register here to receive appropriate credentials are rewuired at all sessions, concerts and festival venues.</p>
                </div>
              
              </div>
              <div class="col-auto align-self-center">
                <button type="button"
                        class="btn btn-sm rounded-circle bwdash-btn--plus d-flex align-items-center justify-content-center p-0 border-0">+
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-asphalt--lighter mb-0 text-right">20 Spots Remaing</p>
                <hr class="text-asphalt mb-0">
              </div>
            </div>
          </div>
        
        </li>
        <li class="bwdash-list--item">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <h6 class="mb-0">Registration</h6>
                  <p class="mb-0">Noon-6pm</p>
                  <p class="mb-0">NewBo City Market, GO Cedar Rapids info Center</p>
                </div>
                <div>
                  <p class="text-asphalt m-0">3-Day passholders must register here to receive appropriate credentials are rewuired at all sessions, concerts and festival venues.</p>
                </div>
              
              </div>
              <div class="col-auto align-self-center">
                <button type="button"
                        class="btn btn-sm rounded-circle bwdash-btn--plus d-flex align-items-center justify-content-center p-0 border-0">+
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-asphalt--lighter mb-0 text-right">20 Spots Remaing</p>
              </div>
            </div>
          </div>
        
        </li>
      </ul>
    </div>
  </div>
</div>
