//Roboto Condensed (Light)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-Light.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-Light.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Light.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Light.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Light.svg#RobotoCondensed-Light) format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Light, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.svg#RobotoCondensed-BoldItalic) format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: condensed;
}

//Roboto-Condensed (Regular)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.svg#RobotoCondensed-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Regular, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.svg#RobotoCondensed-Italic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

//Roboto-Condensed (Bold)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.svg#RobotoCondensed-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

//Roboto-Condensed (Bold, Italic)
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.eot?#iefix) format("embedded-opentype"),
  //url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.otf) format("opentype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.woff) format("woff"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf) format("truetype"),
  url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic) format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
